nav {
    position: fixed; 
    top:0; 
    left:0;
}
div { 
    width: 400px; 
    margin-left:130px; 
    text-align: justify; 
}
#home:target {
    color: green; 
    border: 2px solid red;
}
#contato:target { 
    text-shadow: 1px 1px 2px orange;
}