input:enabled {
    background: papayawhip;
    border: 1px solid salmon;
}
textarea:enabled {
    background: ivory;
    border: 1px solid gold;
}
input:disabled {
    background: silver;
    border: 1px solid gray;
}
textarea:disabled {
    background: aliceblue;
    border: 1pxx solid grey;
}